.row-header{
    margin:0px auto;
    padding:0px auto;
    background: #2f2f2f;
    color: #98ff98;
    opacity: 1;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
    background: #FFFFFF;
    color: #2f2f2f;
}

.row-footer{
    background-color: #000000;
    margin:0px auto;
    padding: 0px 0px 0px 0px;

}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #2f2f2f ;
    color:floralwhite;
}

.bosom-none {
    margin-right: -15px; // Removes the right gap
    margin-left: -15px;  // Removes the left gap
}

.h5{
	color: #bb0000;
}

.h1,h2,h3,h4{
	color: #2f2f2f;
}



address{
    font-size:80%;
    margin:0px;
    color:#FFFFFF;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-inverse {
     background: #000000;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #000000;
    background: #98ff98;
    opacity: 0.9;
